version: "3.9"

services:
  app:
    build:
      context: .
      args:
        - DEV=True
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - dev-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: mysql:5.7
    restart: always
    ports:
      - "30000:3306"
    expose:
      - "30000"
    volumes:
      - dev-db-data:/var/lib/mysql
    env_file: .env

volumes:
  dev-db-data:
  dev-static-data: